.footer{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 64px 0;
}

.cttfooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:64px;
    color: white;
}


.ftrimg{
    width: 313px;
    height: 129px;
}

.ftlcimg{
    width: 24px;
    height: 24px;
    object-fit: contain; /* Preenche o contêiner mantendo a proporção da imagem */
}

.ftcttcol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:48px;
}

.frmcolpg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
}

@media(max-width: 600px){
    .footer{
        max-width: 350px;
        padding: 48px 0;
    }
}
@media(max-width: 1000px){
    .footer{
        flex-direction: column;
        gap:48px;
        align-items: center;
        padding: 64px 16px;
        
    }
    .cttfooter{
        justify-content: center;
    }
    .ftcttcol{
        align-items: center;
    }
    .frmcolpg{
        align-items: center;
        text-align: center;
    }
}