.frmctt{
    max-width: 900px;
    width: 100%;
    text-align: center;
    color: #263471;
    padding: 0;
}


@media(max-width: 600px){
    .frmctt{
        max-width: 350px;
    }
}

@media(max-width: 1000px){
    .frmctt{
        padding: 0 16px 32px 16px;
    }
}