.hdrd{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('/img/header/banner2000.png');
    background-size: cover; /* Para cobrir toda a área */
    background-position: left center; /* Para centralizar a imagem */
    min-width: 100%;
    padding:4rem 0;
    margin-top: 100px;
    z-index: 1;
    min-height: 650px;
}

.internalctt{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.divfbt1{
    display: none;
}

.imgocmnclose{
    cursor:pointer;
}


@media(max-width: 600px){
    .hdrd{
        display: flex;
        background-image: url('/img/header/banner600.png');
        min-height:300px;
    }
    
}

@media(max-width: 1000px){
    .internalctt{
        justify-content: center;
        align-items: center;
        max-width: 350px;
        background-color: rgba(0, 0, 0, 0.8); /* Fundo 80% preto */
        top: 10px; /* Posiciona 120px do topo */
        left: 50%; /* Centraliza horizontalmente */
        transform: translateX(-50%); /* Ajusta a centralização */
        width: 100%; /* Ajusta a largura para caber na tela com margem */
        height: 100%;
        min-width: 100%;
        position: fixed;
    }
    .hdrd{
        display: flex;
        background-image: url('/img/header/banner1000.png');
    }
    
    .divfbt1{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
}


@media(max-width: 1200px){
    .hdrd{
        display: flex;
        background-image: url('/img/header/banner1200.png');
    }
    
}

@media(max-width: 1700px){
    .hdrd{
        display: flex;
        background-image: url('/img/header/banner1440.png');
    }
    
}

@media(min-width: 1700px){
    .hdrd{
        display: flex;
        background-image: url('/img/header/banner2000.png');
    }
    
}